n8n/workflows/summarize.json
{
  "name": "Text Summarizer",
  "nodes": [
    {
      "parameters": {},
      "id": "5a2d1b7b-2e4b-4a6c-9b8e-0c7d9f3a1b2c",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "path": "summarize",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e9a8f2b1-5c6a-4d7e-8f2a-1b3c4d5e6f7g",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "webhookId": "b8a3f2e1-5c6a-4d7e-8f2a-1b3c4d5e6f7h"
    },
    {
      "parameters": {
        "url": "http://ollama:11434/api/generate",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "orca-mini"
            },
            {
              "name": "prompt",
              "value": "Summarize the following text in one to three sentences:\n\n{{ $json.body.text }}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "sendBody": true
      },
      "id": "c3d4e5f6-1a2b-3c4d-5e6f-7g8h9i0j1k2l",
      "name": "Call Ollama API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "response": {
            "body": "={{ $('Call Ollama API').item.json.response }}"
          }
        }
      },
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Ollama API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama API": {
        "main": [
            [
                {
                    "node": "Respond to Webhook",
                    "type": "main",
                    "index": 0
                }
            ]
        ]
    }
  },
  "active": true,
  "settings": {},
  "id": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
